<!DOCTYPE html>
<html lang="en">




  {% include head.html %}

    <body>
      <div id="content-div">
          <div class="rotLeft rotTop pageBack"></div>
          <div class="rotRight rotTop pageBack"></div>

          <div class="container page">

            {% include header.html %}

            {{ content }}

            {% include footer.html %}


          </div>
          <div class="rotLeft rotBottom pageBack"></div>
          <div class="rotRight rotBottom pageBack"></div>
    </div>
    </body>
  {% include musicPanle.html %}
</html>
